.hero-container {
  min-height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p,
  h1,
  h3 {
    color: white;
    text-align: center;
  }

  h1 {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  h3 {
    margin-bottom: 2rem;
  }

  .tag {
    margin-bottom: 1rem;
  }
}