.hero-container {
    min-height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/src/assets/hero-bg.jpg'); /* update path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}