.innovation-card {
    border: 1px solid #fff3;
    background-color: #b1b0b021;
    backdrop-filter: blur(4px);
    padding: 1.5rem;
    border-radius: 0.5rem;
    .svg-wrapper{
        background-color: #ffffff33;
        svg{
            color: white;
        }
    }
    p {
        margin-bottom: 1rem;
    }


    img {
        width: 100%;
        height: 200px;
        border-radius: 0.5rem;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    .tag.primary{
        margin-bottom: 1rem;
    }
}