.main-container.home {
    section.products {
        display: flex;
        flex-direction: column;
        align-items: center;

        .products-container {
            padding: 1rem;
            display: flex;
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;
        }
    }

    section.innovation {
        color: white;
        background-color: #1e3fae;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h2,
        h3 {
            text-align: center;
        }

        .innovations-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .innovation-card {
                border: 1px solid gainsboro;
                background-color: #b1b0b021;
                backdrop-filter: blur(4px);
                padding: 1.5rem;
                border-radius: 0.5rem;
                width: clamp(318px, 100%, 660px);

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }
        }



        h2,
        h3,
        h4,
        p {
            color: white;
        }


        span.tag small {
            background-color: #ffffff33;
            color: white;
            padding: 0.25rem 0.5rem;
            border-radius: 5rem;

        }

    }
}