.main-container.home {
    section.products {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            font-weight: 700;
        }

        .products-container {
            padding: 1rem;
            text-align: left;
            display: flex;
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;
        }
    }

    section.innovation {
        color: white;
        background-color: var(--color-primary-dark);
        display: flex;
        flex-direction: column;
        align-items: center;

        >h2,
        h3 {
            text-align: center;
        }

        .innovations-container {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }

        h2,
        h3,
        h4,
        p {
            color: white;
        }
    }

    section.dealer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #b7c2e180;

        .dealers-wrapper {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-top: 1rem;
            flex-wrap: wrap;
            align-items: center;

            .dealer-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                padding: 2.5rem;
                border: 1px solid gainsboro;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                border-radius: 0.5rem;
                border: 1px solid gainsboro;

                h2 {
                    font-weight: 600;
                }

                p {
                    margin-bottom: 1rem;
                }

                a{
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }

    section.choice {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .choice-container {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-top: 2rem;

            .choice-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    font-weight: 500;
                    margin-bottom: 1rem;
                }

                .svg-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    background-color: gainsboro;
                    border-radius: 50%;
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* padding: 5rem 0; */


        .get-started {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://media.gettyimages.com/id/2183509884/photo/group-of-medical-professionals.jpg?b=1&s=2048x2048&w=0&k=20&c=XlPqfShISo7SqDu7GyhDgnmHCOh0Nbh6cc1BlYZZD78=');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            padding: 5rem 0;

            h2,
            h3 {
                color: white;
            }
        }
        .contact-details{
            display: flex;
            justify-content: space-around;
            width: 100%;
            background-color: var(--color-primary-light-50);
            padding: 2rem 0.5rem;
            gap: 2rem;
            .contact-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                svg{
                    font-size: 24px;
                    color: var(--color-primary);
                }
            }
        }
    }
}

/*======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 768px) {
    .main-container.home {
        .innovation {
            .innovations-container {
                flex-wrap: wrap;
            }
        }
    }

    section.choice{
        .choice-container{
            flex-wrap: wrap;
        }
    }

    /* .dealer-card{
        max-width: 100%;
    } */

    .contact-details{
        flex-wrap: wrap;
        flex-direction: column;

    }
}