.product-card {
    border: 1px solid gainsboro;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: clamp(318px, 100%, 660px);

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .features-list {
        list-style: none;
        padding: 0.5rem 0 0 0;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            font-size: 1rem;

            svg {
                color: #1e3fae;
                margin-right: 0.5rem;
            }
        }
    }
    button {
        display: flex;
        flex-grow: 1;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--color-text);
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: #ae8d1e;
        }
    }
}