.product-card {
    border: 1px solid gainsboro;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 ;
    min-width: 320px;
    max-width: 600px;

    h4{
        font-weight: 600;   
    }
    p{
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    .features-list {
        list-style: none;
        margin-bottom: 0.5rem;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            font-size: 1rem;

            svg {
                color: var(--color-primary);
                margin-right: 0.5rem;
            }
        }
    }
    button {
        &:hover {
            color: white;
            background-color: #ae8d1e;
        }
    }
}