/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    img {
        width: 40px;
    }

    nav {
        display: flex;
        gap: 1rem;
    }
} */


.header {
    position: sticky;
    background: white;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {

    text-decoration: none;
    font-weight: 500;
}

/* Hide hamburger on desktop */
.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

/* ---------- MOBILE STYLES ---------- */
@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .nav-links {
        z-index: 1;
        width: 100%;
        position: absolute;
        top: 70px;
        /* right: 20px; */
        left: 0;
        background: white;
        padding: 20px;
        border-radius: 10px;
        display: none;
        flex-direction: column;
        gap: 15px;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links a {
        color: black;
    }
}