header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    img {
        width: 40px;
    }

    nav {
        display: flex;
        gap: 1rem;
    }
}