footer {
    padding: 5rem 5rem 0 5rem;

    .footer-details {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid gainsboro;

        h4 {
            margin: 0;
        }

        .about {
            display: flex;
            flex-direction: column;
            flex: 0.5;

            .name-wrapper {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                img {
                    width: 40px;
                }

                h4 {
                    font-weight: 700;
                }
            }
        }
    }

    .quick-links-wrapper {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            li {
                font-size: var(--step--1);
                list-style: none;

                a {
                    font-size: var(--step--1);
                }
            }
        }
    }
    .rights{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        a,small{

            font-size: var(--step--1);
        }
    }
}

/*======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {

    footer {
         padding: 2rem 2rem 0 2rem;
        .footer-details{
            flex-wrap: wrap;
             .about{
                flex: 1;
             }
        }
    }
}

/*======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 768px) {
    footer{
       padding: 1rem 1rem 0 1rem;
    }
}