:root {
    --color-primary: #1e3fae;
    --color-primary-light-50: #1e3fae1a;
    --color-primary-dark: #2666A3;
    --color-bg: white;
    --color-text: #212529;
    --color-text-secondary: #757575;
    --color-success: #008731;
    --color-error: #DC3545;
    --color-error-light-100: #FEE6E5;
    --font-family: "Source Sans 3", sans-serif;
    --border-color: gainsboro;
    --border-color-light-50: #F7F7F7;
    --color-sidenav-text: #C2C7D0;
    --color-hover: #3F3F3F;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #242424;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* start---------------CSS resets---------------start */
* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* end---------------CSS resets---------------end */

#root {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    border: 1px solid blue;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    color: var(--color-text);
}

h1 {
    font-size: clamp(1.75rem, 5vw, 36px);
}

h2 {
    font-size: clamp(26px, 4vw, 30px);
}

h3 {
    font-size: clamp(22px, 1.4vw, 26px);
}

h4 {
    font-size: clamp(20px, 1.19vw, 22px);
}

h5 {
    font-size: clamp(18px, 1.08vw, 20px);
}

h6 {
    font-size: clamp(16px, 0.97vw, 18px);
}

p {
    font-size: clamp(16px, 0.86vw, 16px);
}

small {
    color: var(--color-text);
    font-size: clamp(12px, 0.75vw, 14px);
    font-weight: 500;
}

input,
button,
textarea,
select {
    font: inherit;
}

