:root {
    --color-primary: #1e3fae;
    --color-primary-light-50: #1e3fae1a;
    --color-primary-dark: #173186;
    --color-bg: white;
    --color-text: #212529;
    --color-text-secondary: #757575;
    --color-success: #008731;
    --color-error: #DC3545;
    --color-error-light-100: #FEE6E5;
    --font-family: "Source Sans 3", sans-serif;
    --border-color: gainsboro;
    --border-color-light-50: #F7F7F7;
    --color-sidenav-text: #C2C7D0;
    --color-hover: #3F3F3F;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    color: #242424;
    background-color: white;

    --step--2: clamp(0.7rem, 0.25vw + 0.55rem, 0.8rem);

    /* ~11–13px */
    --step--1: clamp(0.8rem, 0.35vw + 0.65rem, 0.9rem);

    /* ~13–14px */
    --step-0: clamp(0.9rem, 0.5vw + 0.7rem, 1rem);

    /* ~14–16px */
    --step-1: clamp(1.05rem, 1vw + 0.7rem, 1.15rem);

    /* ~16–18px */
    --step-2: clamp(1.2rem, 1.5vw + 0.75rem, 1.5rem);

    /* ~19–24px */
    --step-3: clamp(1.4rem, 2vw + 0.8rem, 1.6rem);

    /* ~22–26px */
    --step-4: clamp(1.6rem, 3.2vw + 0.85rem, 2rem);

    /* ~26–32px */
    --step-5: clamp(1.8rem, 4vw + 0.9rem, 2.8rem);
    --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ================================================================= */

h1 {
    font-size: var(--step-5);
    font-weight: 700;
    line-height: 1.15;
}

h2 {
    font-size: var(--step-4);
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: 700;
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
    margin-bottom: 1rem;
}

p,
li,
a,
span {
    font-size: var(--step-1);
    list-style: none;
}

small {
    font-size: var(--step--2);
}

/* =================================================== */
/* background colors */
.bg-light {
    background-color: var(--color-primary-light-50);
}

.bg-dark {
    background-color: var(--color-primary-dark);
}

/* Text styles */
.center {
    text-align: center;
}


.bold-5 {
    font-weight: 500;
}

.white {
    color: white;
}

/* Margins */
.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

/* Flex */
.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}

.height-fit{
    height: fit-content;
}

.align-start{
    align-items: flex-start;
}
.gp-02 {
    gap: 0.2rem;
}

.gp-1 {
    gap: 1rem;
}

.gp-2{
    gap: 2rem;
}

/* Grid */
.grid{
    display: grid;
}

.col-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.col-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* start---------------CSS resets---------------start */
* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* end---------------CSS resets---------------end */

#root {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    /* border: 1px solid blue; */
    min-height: 100vh;
}

section {
    padding: 5rem;
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Buttons */
button,
a {
    cursor: pointer;
    text-decoration: none;
    font-size: var(--step-1);
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

button,
a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    padding: 0.75rem 2rem;
    border: none;
    height: fit-content;

    &.primary {
        background-color: var(--color-primary);
        color: white;
    }

    &.secondary {
        background-color: var(--color-bg);
        color: var(--color-text);
        border: 1px solid gainsboro;
    }

    &.blur {
        background: transparent;
        color: white;
        border: 1px solid white;
        backdrop-filter: blur(4px);
    }


}

/* svg */
.svg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color-primary-light-50);
    /* margin-bottom: 1rem; */

    &.round {
        border-radius: 5rem;
    }

    &.sm {
        svg {
            font-size: 24px;
        }
    }

    &.md {
        padding: 1rem;

        svg {
            font-size: 32px;
        }
    }

    &.lg {
        padding: 1rem;

        svg {
            font-size: 40px;
        }
    }

    svg {
        color: var(--color-primary);
    }
}


/* Chips */
span.tag {
    display: flex;
    padding: 2px 10px;
    opacity: 0.9;
    width: fit-content;
    border-radius: 2rem;

    &.primary {
        font-weight: 500;
        color: white;
        background-color: var(--color-primary);
    }
}

/* CARD */
.card {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid gainsboro;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
}

.w-500 {
    max-width: 32rem;
}


/*======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    section {
        padding: 5rem 2rem;
    }
}


/*======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 768px) {

    section,
    footer {
        padding: 5rem 1rem;
    }

    .card {
        max-width: 100%;
    }
}